:root {
    --transparent-third: rgba(0, 117, 209, 0.1);
    --transparent-second: rgba(0, 117, 209, 0.4);
    --transparent-primary: rgba(0, 117, 209, 0.6);
    --transparent-forth: rgba(0, 117, 209, 0.8);
    --primary-color: #0075d1;
    --secondary-color: #004983;
    --pavilion-background-color: #FFCC44;
    --light-color: #DEF2F1;
    --success-color: #28BF49;
    --dark-color: #303030;
    --bold-description-color: #505050;
    --post-like-comment-color: #707070;
    --very-light-color: #fafafa;
    --background-color: #EBEBEB;
    --login-page-background-color: #aed8fa;
    --border-color: #CDCDCD;
    --text-light-color: #878787;
    --error-color: #C62828;
}