@import "variables";

.document-page-cont {
  margin: 20px 12%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 5px;
  background-color: var(--transparent-third);
  min-height: calc(100vh - 120px);
  direction: rtl;

  &.user {
    background-color: white;
    margin: 20px 25%;

    @media screen and (max-width: 480px) {
      margin: 20px 5%;
    }
  }

  @media screen and (max-width: 480px) {
    margin: 20px 5%;
  }
}

.document-page-err {
  color: var(--error-color);
  font-size: $title-font-size;
  padding: 10px;
}

.document-page-thumb {
  display: block;
  margin: 15px auto;
  width: 500px;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.document-page-field-cont {
  display: inline-block;

  @media screen and (max-width: 480px) {
    display: block;
  }
}

.document-page-field-img {
  width: 25%;
  margin-right: 15px;
  vertical-align: top;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: calc(100% - 35px);
    margin-right: 35px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}

.document-page-field {
  display: block;
  position: relative;
  text-align: right;
  padding: 10px 15px;
  font-weight: bold;
  font-size: $title-font-size;
}

.document-page-field-dialog {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 10px;
  font-weight: normal;
  transform: scale(0) translateX(100%);
  opacity: 0;
  transform-origin: left;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.1s;

  @media screen and (max-width: 480px) {
    transform: scale(0) translateY(-100%);

    &:hover {
      transform: scale(1) translateY(100%);
      opacity: 1;
    }
  }

  &:hover {
    transform: scale(1) translateX(100%);
    opacity: 1;
  }
}

.document-page-field-svg {
  vertical-align: top;
  width: 25px;
  fill: var(--dark-color);

  &.insta {
    width: 20px;
    margin-right: 2.5px;
    margin-left: 2.5px;
  }

  &.margin-left {
    margin-left: 8px;
  }

  &:hover {
    + .document-page-field-dialog {
      transform: scale(1) translateX(100%);
      opacity: 1;

      @media screen and (max-width: 480px) {
        transform: scale(1) translateY(100%);
      }
    }
  }

  &.cat {
    margin-left: 5px;
  }
}

.document-page-field-text {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  line-height: 28px;
  margin-top: -2px;
  text-align: justify;
  text-align-last: right;

  &.inline {
    width: calc(100% - 35px);

    &.have-img {
      @media screen and (min-width: 480px) {
        width: calc(75% - 50px);
      }
    }
  }

  &.left {
    margin-left: 15px;
  }

  &.name {
    display: inline-flex;
    align-items: center;
  }
}

.document-page-cats {
  text-align: right;
  padding: 10px 15px;
  position: relative;
}

.document-page-pics {
  text-align: right;
  margin: 10px 15px 20px 15px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
}

.document-page-pics-item {
  cursor: pointer;
  flex-grow: 1;
  width: 25%;
  height: 260px;
  object-fit: cover;

  @media screen and (max-width: 480px) {
    width: 50%;
    height: 150px;
  }
}