@import "variables";

.header-cont {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 80px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  color: var(--background-color);
}

.header-section {
  display: flex;
  align-items: center;
}

.show-desktop {
  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.show-mobile {
  @media screen and (min-width: 1150px) {
    display: none;
  }
}

.header-hamburger-mobile {
  position: relative;
  width: 35px;
  height: 25px;
}

.header-hamburger-mobile-material {
  display: none;
  @media screen and (max-width: 1150px) {
    z-index: 5;
    margin-right: -7.5px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.toggle {
      transition: all linear 0.2s, background-color linear 0.2s 0.2s;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.header-right-section-link {
  font-size: $title-font-size;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 55px;
  text-align: center;
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.en {
    font-size: $small-font-size;
    width: 60px;
  }
}

.header-sidebar-switch-desk {
  font-size: $small-font-size;
  margin: 0 25px;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all linear 0.2s;

  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.header-right-section-link-active {
  .header-right-section-link {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--login-page-background-color);
    color: var(--secondary-color);
  }
}

.header-logo {
  width: 40px;
  height: 40px;
  display: block;
  fill: var(--background-color);
}

.header-logo-text {
  font-size: $small-font-size;
  margin: 0 5px 0 15px;

  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.header-name {
  font-size: $huge-font-size;
  margin-left: 20px;

  @media screen and (max-width: 1150px) {
    white-space: nowrap;
    font-size: $small-font-size;
    transition: all linear 0.2s;
    margin-left: 0;

    &.on-side {
      position: relative;
      z-index: 10;
      color: var(--secondary-color);
      font-size: $regular-font-size;

      @media screen and (max-width: 330px) {
        font-size: $small-font-size;
      }
    }
  }
}

.header-sidebar-back {
  display: none;
  @media screen and (max-width: 1150px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 2;
  }
}

.header-sidebar-container {
  display: none;
  @media screen and (max-width: 1150px) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: white;
    z-index: 4;

    &.en {
      right: auto;
      left: 0;
    }
  }
}

.header-sidebar-link {
  font-size: $title-font-size;
  font-weight: bold;
  transition: all linear 0.2s;
  color: var(--secondary-color);

  &.active {
    background-color: var(--transparent-third);
  }
}

.header-sidebar-btn {
  border-top: 1px solid var(--login-page-background-color);
  border-bottom: 1px solid var(--login-page-background-color);
  padding: 20px 15px;
  margin-top: -1px;
  background-color: inherit;

  &.margin-top {
    margin-top: 80px;
  }
}

.header-sidebar-switch {
  font-size: $title-font-size;
  font-weight: bold;
  transition: all linear 0.2s;
  color: var(--dark-color);
  border-top: 1px solid var(--login-page-background-color);
  border-bottom: 1px solid var(--login-page-background-color);
  padding: 20px 15px;
  margin-top: -1px;
  background-color: inherit;
}