@import "variables";

.home-page-cont {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.doc-page-cont {
  padding: 20px 5%;
  text-align: center;
  width: 90%;
  overflow: hidden;
}

.home-page-cont-child {
  padding: 0 5%;
}

.home-page-slider {
  width: 100%;
  opacity: 0;

  &.loaded {
    opacity: 1;
    animation: fadein linear 0.2s;
  }
}

.home-page-slider-item-cont {
  position: relative;
  overflow: hidden;
  margin-bottom: -8px;
  vertical-align: top;
  background-color: var(--login-page-background-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
}

.home-page-slider-item {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  margin: auto;
  display: block;

  @media screen and (max-width: 480px) {
    height: calc(50vh);
  }
}

.home-page-slider-item-desc {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
  padding: 0 5% 0 50%;
  display: flex;
  transition: all linear 0.2s;
  align-items: center;

  &.en {
    right: auto;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
    padding: 0 50% 0 5%;
  }
}

.home-page-slider-item-desc-text {
  font-size: 25px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
    margin-bottom: 160px;
  }
  animation: slider ease-out 2.5s;
  transition: all linear 0.2s;

  &.en {
    animation: slider-en ease-out 2.5s;
  }
}

.home-page-documents {
  opacity: 0;

  &.loaded {
    opacity: 1;
    animation: fadein linear 0.2s;
  }
}

.home-page-videos {
  margin-bottom: 50px;
  position: relative;
  text-align: right;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.home-page-video-show {
  display: inline-block;
  vertical-align: top;
  width: calc(70% - 20px);
  margin-left: 20px;

  &.full {
    width: 100%;
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.home-page-video-side {
  display: inline-block;
  vertical-align: top;
  width: 30%;

  @media screen and (min-width: 480px) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.home-page-video-side-item {
  margin-bottom: 10px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 480px) {
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }
}

.home-page-docs-title {
  text-align: right;
  font-weight: bold;
  font-size: $title-font-size;
  margin-top: 50px;
  margin-bottom: 5px;

  &.en {
    text-align: left;
  }

  &.users {
    padding-top: 80px;
    border-top: 1px solid var(--primary-color);
  }

  &.page {
    margin-top: 0;
  }
}

.home-page-docs-title-svg {
  width: 25px;
  fill: var(--dark-color);
}

.home-page-docs-title-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 10px;

  &.en {
    margin-right: 0;
    margin-left: 10px;
  }
}

.home-page-docs-item-hide {
  width: 230px;
  flex-grow: 1;
  margin: 0 8px;
}

.home-page-docs-item {
  margin: 10px;
  flex-grow: 1;
  width: 230px;
}

.user-item-content-field {
  font-size: $regular-font-size;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.title {
    font-weight: bold;
  }
}

.user-item-content-field-svg {
  vertical-align: top;
  width: 20px;
  fill: var(--dark-color);
  margin-left: 8px;

  &.cal {
    width: 18px;
  }
}

.user-item-content-field-text {
  display: inline-block;
  white-space: nowrap;
  max-width: calc(100% - 48px);
  overflow: hidden;
  text-overflow: ellipsis;
}