@import "variables";

.home-page-cont {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.doc-page-cont {
  padding: 20px 5%;
  text-align: center;
  width: 90%;
  overflow: hidden;
}

.home-page-cont-child {
  padding: 0 5%;
}

.home-page-slider {
  width: 100%;
  opacity: 0;

  &.loaded {
    opacity: 1;
    animation: fadein linear 0.2s;
  }
}

.home-page-slider-item-cont {
  position: relative;
  overflow: hidden;
  margin-bottom: -8px;
  vertical-align: top;
  background-color: var(--login-page-background-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
}

.home-page-slider-item {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  margin: auto;
  display: block;

  @media screen and (max-width: 480px) {
    height: calc(50vh);
  }
}

.home-page-slider-item-desc {
  font-size: $title-font-size;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: inline-block;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.home-page-documents {
  opacity: 0;

  &.loaded {
    opacity: 1;
    animation: fadein linear 0.2s;
  }
}

.home-page-docs-title {
  text-align: right;
  font-weight: bold;
  font-size: $title-font-size;
  margin-top: 50px;
  margin-bottom: 5px;

  &.page {
    margin-top: 0;
  }
}

.home-page-docs-title-svg {
  width: 25px;
  fill: var(--dark-color);
}

.home-page-docs-title-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 10px;
}

.home-page-docs-item-hide {
  width: 230px;
  flex-grow: 1;
  margin: 0 8px;
}

.home-page-docs-item {
  margin: 10px;
  flex-grow: 1;
  width: 230px;
}

.home-avatar-user {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  fill: var(--secondary-color);
}