@import "variables";

.panel-page-container {
  padding: 10px 5% 60px 5%;
}

.panel-welcome {
  text-align: center;
  color: var(--secondary-color);
}

.panel-page-content {
  margin-right: 312px;
  width: calc(100% - 312px);
  display: inline-block;
  vertical-align: top;
  text-align: center;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.panel-side-bar {
  position: fixed;
  right: 5%;
  top: 90px;
  width: 300px;
  border: 1px solid var(--dark-color);
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;

  @media screen and (max-width: 480px) {
    right: 0;
    left: 0;
    top: calc(100% - 45px);
    width: auto;
    z-index: 3;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 100vh;
    background-color: white;
  }
}

.panel-side-bar-mobile-line {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    min-width: 100%;
    background-color: white;
    padding: 20px 0;
  }
}

.panel-side-bar-line {
  width: 50px;
  height: 5px;
  background-color: var(--text-light-color);
  border-radius: 3px;
  margin: auto;
}

.panel-side-bar-item-link {
  font-size: $title-font-size;
  text-align: center;

  @media screen and (max-width: 480px) {
    flex-grow: 1;
  }

  &.selected {
    .panel-side-bar-item {
      background-color: var(--dark-color);
      color: white;
    }
  }
}

.panel-side-bar-item {
  padding: 16px 0;
  transition: all linear 0.2s;
}

.panel-sidebar-back {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 2;
  }
}

.panel-section {
  border-radius: 5px;
  overflow: hidden;
}

.panel-section-big {
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% + 16px);
  margin-right: -8px;
  margin-top: -8px;

  @media screen and (max-width: 480px) {
    margin-top: 0;
  }
}

.panel-page-section-title {
  background-color: var(--dark-color);
  color: var(--background-color);
  padding: 10px 0;
  font-size: $title-font-size;
}

.panel-users-item-cont {
  transition: all linear 0.2s;

  &.deleted {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--transparent-second) !important;
  }

  &:nth-child(odd) {
    background-color: var(--login-page-background-color);
  }

  &:nth-child(even) {
    background-color: var(--background-color);
  }
}

.panel-users-item {
  font-size: $regular-font-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-users-item-name {
  color: var(--secondary-color);
  font-weight: bold;
  flex-grow: 1;
  padding: 15px;
  text-align: right;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.panel-users-item-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-left: 15px;
  border-radius: 50%;
  fill: var(--post-like-comment-color);
}

.panel-users-item-svg-cont {
  display: flex;
}

.panel-users-item-verify {
  margin-right: 8.5px;
  margin-left: 8.5px;
  width: 20px;
  fill: var(--success-color);
}

.panel-users-item-remove {
  background-color: var(--error-color);
  margin-left: 10px;
  color: var(--background-color);
  padding: 3px 8px;
  font-size: $small-font-size;
  border-radius: 4px;
  cursor: pointer;
}

.panel-users-item-submit {
  background-color: var(--success-color);
  color: var(--background-color);
  padding: 3px 8px;
  font-size: $small-font-size;
  border-radius: 4px;
  cursor: pointer;
}

.panel-users-item-svg {
  margin: 0 15px 0 15px;
  width: 10px;
  fill: var(--secondary-color);
  transform: rotate(180deg);
}

.panel-section-loading-cont {
  padding: 10px;
  font-size: $title-font-size;

  &.clip {
    padding-top: 13px;
  }
}

.panel-users-item-detail {
  overflow: hidden;
  transition: all linear 0.2s;
}

.panel-users-item-detail-row {
  display: flex;
  font-size: $regular-font-size;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--text-light-color);

  &:first-child {
    padding: 20px 20px 10px 20px;
  }
}

.panel-users-item-detail-row-title {
  width: 250px;
  text-align: right;

  @media screen and (max-width: 480px) {
    width: 110px;
    min-width: 110px;
  }
}

.panel-users-item-detail-row-value {
  user-select: text;
  text-align: right;
  word-break: break-word;
}

.panel-add-item-btn {
  width: 50px;
  padding-top: 2px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5%;
  bottom: 5%;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  z-index: 1;
  font-size: $huge-font-size;
  transition: all linear 0.2s;

  &:hover {
    background-color: var(--secondary-color);
  }

  @media screen and (max-width: 480px) {
    bottom: calc(30px + 5%);
  }
}

.panel-add-item-model-cont {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);
  z-index: 4;
  padding: 20px 20px 0 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  animation: scale linear 0.2s;

  &.static {
    margin: 25px auto;
    position: static;
    transform: scale(1);
    animation: scale-static linear 0.2s;
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 60px);
  }
}

.panel-add-item-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  overflow: auto;
  animation: fadein linear 0.2s;
}

.panel-row-cont-title {
  display: flex;
  font-size: $title-font-size;
  background-color: var(--secondary-color) !important;
  color: var(--background-color);
  padding: 10px 0;
}

.panel-row-cont {
  display: flex;
  align-items: center;
  font-size: $regular-font-size;
  padding: 8px 0;
  transition: all linear 0.1s;

  &:hover {
    background-color: var(--transparent-second) !important;
  }

  &:nth-child(even) {
    background-color: var(--login-page-background-color);
  }

  &:nth-child(odd) {
    background-color: var(--background-color);
  }
}

.panel-row-item {
  width: 50%;
}

.panel-row-item-small {
  width: 20%;
}

.panel-row-item-remove {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.panel-add-item-temp-pic {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.panel-add-item-pic-svg {
  width: 50px;
  fill: var(--text-light-color);

  &.image {
    padding: 51px 0;
  }
}

.panel-add-item-video-svg {
  padding: 5px 0;
  width: 40px;
  fill: var(--text-light-color);
}

.panel-add-item-video {
  margin-top: 15px;
}

.panel-select-categories {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-light-color);
  font-size: $title-font-size;
  padding: 15px 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.panel-add-item-thumb-cont {
  margin-bottom: 15px;
}

.panel-add-item-thumb {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panel-add-item-pic-cont {
  width: 100%;
}

.panel-add-item-pic {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--background-color);
}

.panel-add-item-show-pics {
  margin-top: 15px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 15px 0;
  width: calc(100% - 2px);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.panel-add-item-show-pics-item-desc {
  font-size: $regular-font-size;
  line-height: 28px;
}

.panel-add-item-show-pics-item-material {
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  background-color: var(--login-page-background-color);
  border-radius: 4px;

  &:hover {
    .panel-add-item-show-pics-item-cancel {
      opacity: 1;
    }
  }
}

.panel-add-item-show-pics-item {
  width: 150px;
  height: 100px;
  display: block;
  object-fit: contain;
  border-radius: 4px;
}

.panel-add-item-show-pics-item-cancel {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.5;
  transition: all linear 0.2s;
}

.panel-add-item-thumb-file {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.panel-select-show-categories {
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.panel-select-show-categories-none {
  font-size: $small-font-size;
  color: var(--text-light-color);
  padding: 6px 0;
}

.panel-select-show-categories-item {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 3px 10px;
  color: var(--background-color);
  font-size: $regular-font-size;
  display: inline-block;
  margin: 2px 5px;
  cursor: pointer;
}

.panel-select-all-categories-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-select-all-categories {
  position: fixed;
  width: 350px;
  height: 350px;
  padding: 15px 15px 0 15px;
  z-index: 5;
  background-color: var(--login-page-background-color);
  top: calc(50% - 182px);
  left: calc(50% - 190px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  animation: fadein linear 0.1s;

  @media screen and (max-width: 480px) {
    width: calc(90% - 30px);
    left: 5%;
  }

  &.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.panel-select-all-categories-scroll {
  height: 312px;
  overflow: auto;
}

.panel-select-all-categories-item {
  font-size: $regular-font-size;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.panel-select-all-categories-empty {
  font-size: $title-font-size;
  margin-top: 150px;
}

.panel-select-all-categories-item-select {
  position: absolute;
  left: 15px;
  width: 20px;
  top: 10px;
  fill: var(--success-color);
}

.panel-select-all-categories-btn {
  background-color: var(--secondary-color);
  padding: 7px 0;
  width: calc(100% + 30px);
  color: var(--background-color);
  cursor: pointer;
  margin-right: -15px;

  &.img {
    margin-top: auto;
    margin-right: 0;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}

.panel-add-img-video-area {
  height: 150px;
  background-color: white;
  width: 100%;
  margin: 0 0 40px 0;
}

.panel-document-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.home {
    width: calc(100% + 16px);
    margin-right: -8px;
    margin-bottom: 50px;
  }
}

.panel-document-item-hide {
  width: 150px;
  flex-grow: 1;
  padding: 0 15px;
  margin: 0 8px;
}

.panel-document-item-link {
  margin: 8px;
  flex-grow: 1;
  width: 180px;
}

.panel-document-item {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 15px;
  background-color: var(--login-page-background-color);
  cursor: pointer;
  height: calc(100% - 30px);
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.panel-document-thumb-default {
  width: 80px;
  height: 80px;
}

.panel-document-thumb {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

.panel-document-item-title {
  font-size: $regular-font-size;
  font-weight: bold;
  margin: 10px 0;
}

.panel-document-item-summary {
  font-size: $regular-font-size;
}

.panel-show-doc-cont {
  width: calc(100% - 32px);
  margin-top: -10px;
  background-color: var(--background-color);
  padding: 15px;
}

.panel-show-doc-input-cont {
  display: flex;
  align-items: center;
}

.panel-show-doc-input-svg-cont {
  padding: 10px;
  border-radius: 5px;
  margin-top: -1px;
  animation: scale-static linear 0.1s;
}

.panel-show-doc-input-svg {
  display: block;
  width: 30px;
  cursor: pointer;
  fill: var(--success-color);

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.panel-show-doc-area {
  height: 100px;
  margin: 15px 0 40px 0;
  width: 100%;
  transition: all linear 0.2s;

  &.changed {
    margin: 15px 0 40px 10px;
  }
}

.panel-show-doc-input {
  height: 50px;
  margin: 15px 0 20px 0;
  width: 100%;
  transition: all linear 0.2s;

  &.changed {
    margin: 15px 0 20px 10px;
  }
}