@import "variables";

.user-page-thumb {
  display: block;
  margin: 15px auto 25px auto;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  height: 350px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 280px;
    height: 280px;
  }
}

.user-item {
  width: calc(20% - 20px);
  margin: 15px 10px;

  @media screen and (max-width: 480px) {
    width: calc(50% - 20px);
  }
}

.home-avatar-user {
  width: 100%;
  height: 200px;
  object-fit: cover;
  fill: var(--secondary-color);

  @media screen and (min-width: 480px) {
    &.default {
      width: 70%;
    }
  }

  @media screen and (max-width: 480px) {
    height: 150px;

    &.default {
      width: 80%;
    }
  }
}