@import "variables";

.user-page-thumb {
  display: block;
  margin: 15px auto 25px auto;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  height: 350px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 280px;
    height: 280px;
  }
}